# Generated images and uploads
uploads/
**/uploads/**

# Binary
/server
/app
bin/

# Environment
.env

# Firebase service account private keys
*firebase-*.json
firebase-service-account.json

.DS_Store

